
:root {
	--color-main: #a8d5d1;
	--color-secondary: #e5f6f5;
	--delay-global: 300ms;
}

html, body, h2 {
	margin: 0;
	padding: 0;
	
}


body {
	background: var(--color-secondary);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body__wrapper {
	width: 1200px;
	margin: 0 auto;
}


.header {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	
}



.menu {
	background-color: var(--color-main);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	position: relative;
}


.menu__cart-table {
	position: absolute;
	z-index: 2;
	top: 200px;
	right: 100px;
	width: 300px;
	min-height: 100px;
	max-height: 300px;
	overflow-y: scroll;
	background: #a8d5d1;
	text-align: center;

}

.menu__cart-table .item__name {
	padding: 5px;
}

.nav__list {
	margin: 0;
}

.nav {
	display: flex;
}

.nav__list {
	display: flex;
	flex: 1 0 auto;
	list-style-type: none;
	
}

.nav__item {
	flex: 1 0 auto;
	padding-right: 10px;
}

.nav__button {
	margin-left: 16px;
}
button {
	background-color: #bae6eb;
	border-radius: 10px;
	border: none;
} 
button.btn {
	display: block;
	margin: 10px auto;
	padding: 5px 15px;
	
}

.header__logo {
	/* flex: 0 0 70px; */
}

.header__nav {
	flex: 1;
}

.cart {
	display: flex;
	align-items: center;
	padding: 15px 25px;
	position: relative;

}
.cart img {
	width: 25px;
}


.cart__number {
	position: absolute;
	top: 30px;
	right: -15px;
	width: 30px;
    height: 30px;
    line-height: 30px;
	border-radius: 50%;
	background: #85b8ad;
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product__item {
	width: 25%;
	

}

figure {
	
	cursor: pointer;
	border-radius: 10px;
	position: relative;
		
}

figure img {
	transition: 0.1s linear ;
}


figure:hover {
	background: #d5ede1;
	
}

figure:hover img {
	transform: scale(1.05);
}

figure:hover figcaption {
	
	background: #beeed6;
	border-radius: 10px;
}	

figure:hover .item__price {
	background: #beeed6;
}
figcaption {
	background: #eee9e8;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 15px;
	transition: 0.5s all linear;

}

figcaption  span {
	margin-right: 5px;
}


.item__price {
	position: absolute;
	padding: 10px 15px;
	background: #FADFF4;
	border-radius: 50%;
	top: 25px;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s all;
}

